.contenedor1 {
    width: 80%;
    margin: 0 auto;
}

.span {

    font-weight: bold;
}


.contenedor-principal {
    padding: 40px;
    margin-right: 5px;
    background-color: rgb(208, 208, 208);

}



.contenedor-varios {
    width: 28%;
    border: 2px solid rgb(143, 139, 134);
    padding: 15px;
    margin: 15px;
    display: inline-table;
}

.abajo {
    padding: 15px;
    margin-right: 5px;
    background-color: rgb(208, 208, 208);
}